<%= render "header" %>

<h1>ダッシュボード</h1>
<h2>Today <%= Date.today.strftime("%Y/%m/%d")%></h2>
<%= form_for(@drinkcount) do |f| %>
<div class="col-sm-3 panel panel-default">
<div class="btn-group btn-group-vertical" data-toggle="buttons">
  <% @drinks.each_with_index do |drink,i| %>
    <% if i == 0 %>
     <label class="btn"><%= f.radio_button(:drink_id, drink.id,{:checked => true, :class => "btn-lg fa fa-circle-o fa-2x"}) %><span class="lead"><%= drink.menu %></span></label>
   <% else %>
      <label class="btn"><%= f.radio_button(:drink_id, drink.id, {:class => "btn-lg fa fa-circle-o fa-2x"}) %><span class="lead"><%= drink.menu %></span></label>
   <% end %>
  <% end %>
</div>
</div>

<div class="col-sm-9">
<div class="btn-group">
<% @users.each do |user| %>
  <label class="btn col-sm-4"><%= f.submit(user.name, :id => user.id, :user_id => user.id, :class => "btn btn-lg btn-info") %>
  <span class="lead">　　<%= @drinkcounts.where(:user_id => user.id).count %>回</span></label>
<% end %>
</div>
<% end %>
</div>
