<%= render "header" %>

<h1>ダッシュボード</h1>
<h2>Today <%= Date.today.strftime("%Y/%m/%d")%></h2>
<%= form_for(@drinkcount) do |f| %>
<div class="col-sm-3 panel panel-default">
<div class="btn-group btn-group-vertical" data-toggle="buttons">
  <% @drinks.each_with_index do |drink,i| %>
    <% if i == 0 %>
     <label class="btn"><%= f.radio_button(:drink_id, drink.id,{:checked => true, :class => "btn-lg fa fa-circle-o fa-2x"}) %><span class="lead"><%= drink.menu %></span></label>
   <% else %>
      <label class="btn"><%= f.radio_button(:drink_id, drink.id, {:class => "btn-lg fa fa-circle-o fa-2x"}) %><span class="lead"><%= drink.menu %></span></label>
   <% end %>
  <% end %>
</div>
</div>

<div class="col-sm-9">
<div class="list-group">
<% @users.each_with_index do |user,i| %>

    <% if i%2 == 0 %>
        <ul class="list-inline list-group">
        <li class="list-group-item"><label><span class="lead"><%= f.submit(user.name, :id => user.id, :user_id => user.id, :class => "square_btn#{i%4}") %>
  　　    <%= @drinkcounts.where(:user_id => user.id).count %>回</span><label></li>
  　<% else %>
  　     <li class="list-group-item"><label><span class="lead"><%= f.submit(user.name, :id => user.id, :user_id => user.id, :class => "square_btn#{i%4}") %>
  　　    <%= @drinkcounts.where(:user_id => user.id).count %>回</span><label></li>
        </ul>
    <% end %>
<% end %>
</div>
<% end %>
</div>
